.board {
  display: flex;        /* Use flexbox to create a horizontal layout */
  flex-direction: row;  /* Arrange children in a row */
}

.row {
  display: flex;         /* Use flexbox for each row */
  flex-direction: row;   /* Arrange children in a row */
  margin: 10px;          /* Add some margin between the rows */
}

.pit {
  margin: 5px;           /* Add some margin between pits */
}

.player {
  margin-bottton: 20px;    /* Add some space between players */
}
